{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'bags' %}"><img src="{% static 'images/shirts.jpg' %}" width="auto" height="400px">
                <div class="text" style=font-size:30px;>Usakag Men;<br><br></div></a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'scarves' %}"><img src="{% static 'images/scarves.jpg' %}" width="auto" height="400px">
                <div class="text" style=font-size:30px;>Usakag Scarves;<br><br></div></a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'men' %}"><img src="{% static 'images/dresses.jpg' %}" width="auto" height="400px">
                <div class="text" style=font-size:30px;>Usakag Women;<br><br></div></a>
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    
    </div>
    <hr>
    <h2 class="text-center">Our Products</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <h>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a  class="btn btn-outline-success" href="{% url 'single_product' product.id %}">View</a>
                <h4 style="display: inline-block; float: right; font-size: 18px;"><strong>UGX{{product.price}}</strong></h4>


            </div>
        </div>
        {% endfor %}

     </div>
{% endblock content %}

